In [2]:
import pandas as pd
import os
import re
import glob

## Manual Budaya

In [11]:
df = pd.read_csv(r'D:\JupyterNotebook\Dataset\clickNewArrange\budaya50.csv')
df.shape

(50, 2)

In [20]:
coba = pd.read_csv(r'D:\JupyterNotebook\Dataset\click\republika.csv')
coba.head()

,title,source,date,time,category,sub-category,content,url
0,Krisis Air Bersih di Lebak Meluas Hingga 16 Ke...,republika.co.id,10 Sep 2019,23:56 WIB,News,Nasional,"REPUBLIKA.CO.ID, LEBAK -- Kepala Pelaksana Bad...",https://nasional.republika.co.id/berita/pxmkeg...
1,Disbudpar Kota Malang Panggil Manajemen Museum...,republika.co.id,10 Sep 2019,22:16 WIB,News,Nasional,"REPUBLIKA.CO.ID, MALANG -- Dinas Kebudayaan da...",https://nasional.republika.co.id/berita/pxmfr4...
2,Puskeshaji Layani 471.946 Kunjungan Jamaah Haji,republika.co.id,10 Sep 2019,22:21 WIB,Ihram,IHRAM.CO.ID,"IHRAM.CO.ID, JAKARTA -- Kementerian Kesehatan ...",https://www.republika.co.id/berita/pxmeoh313/p...
3,Bottas tak Menyerah Incar Gelar Juara F1,republika.co.id,10 Sep 2019,22:13 WIB,Sepak Bola,Sepak Bola,"REPUBLIKA.CO.ID, MONZA -- Pembalap Formula Sat...",https://bola.republika.co.id/berita/pxmfmo354/...
4,"Capim KPK, Calon Komisioner yang Wajib Teken K...",republika.co.id,10 Sep 2019,22:21 WIB,News,Nasional,"REPUBLIKA.CO.ID, oleh ,Ada yang berbeda dari p...",https://nasional.republika.co.id/berita/pxmfzp...

In [21]:
x = pd.DataFrame(data = coba[coba['sub-category'] == 'Nasional'].values
                   ,columns = ['title','source','date','time','category','sub-category','content','url'])
x = x[['content', 'sub-category']]
x.shape

(2576, 2)

In [43]:
temp_df = pd.DataFrame(columns=['text','label'])
text = x['content'].loc[863]
label = 0
temp_df.loc[0] = [text,label]
temp_df

                                                text label
0  REPUBLIKA.CO.ID, JAKARTA -- Pemerintah Provins...     0

In [44]:
gab_temp = [df, temp_df] 
df = pd.concat(gab_temp).drop_duplicates().reset_index(drop=True)

In [45]:
df.shape

(60, 2)

In [46]:
# Simpan data ke csv
df.to_csv (r'D:\JupyterNotebook\Dataset\clickNewArrange\budaya60.csv', index = False, header=True)
print(df)

                                                 text label
0   nampak jelas di daratan yang panas, Kota Djene...     0
1   pendakwah hebat berperan penting dalam masukny...     0
2   atau Walisanga dikenal sebagai penyebar agama ...     0
3   Ajaran Islam menegaskan bahwa Nabi Adam adalah...     0
4   Tumbuh sebagai remaja muslim di Amerika tidakl...     0
5   REPUBLIKA.CO.ID, KUNINGAN -- Program Gerakan M...     0
6   REPUBLIKA.CO.ID, PURWAKARTA -- Wakil Presiden ...     0
7   REPUBLIKA.CO.ID, JAKARTA -- Ketua Pengurus Bes...     0
8   REPUBLIKA.CO.ID, JAKARTA -- Kementerian Agama ...     0
9   REPUBLIKA.CO.ID, DOHA -- Setidaknya 33 gambar ...     0
10  REPUBLIKA.CO.ID,MANDALAY -- Penduduk Muslim di...     0
11  REPUBLIKA.CO.ID, JAKARTA— Pengurus Besar Nahdl...     0
12  REPUBLIKA.CO.ID, PALU— Majelis Ulama Indonesia...     0
13  REPUBLIKA.CO.ID, Masjid Agung Paris adalah des...     0
14  REPUBLIKA.CO.ID, PURWOREJO -- Ahad (8/9) lalu,...     0
15  REPUBLIKA.CO.ID, JAKARTA — “Produksi kertas ta...     0
16  REPUBLIKA.CO.ID, JAKARTA -- Kerajaan ini berke...     0
17  Beberapa hari lalu ramai pemberitaan tentang w...     0
18  REPUBLIKA.CO.ID,  JAKARTA -- Sastra Arab memas...     0
19  REPUBLIKA.CO.ID, JAKARTA – Musyawarah Nasional...     0
20  REPUBLIKA.CO.ID, Oleh: Nur Farida,Manusia adal...     0
21  REPUBLIKA.CO.ID, JAKARTA – Budaya damai menjad...     0
22  REPUBLIKA.CO.ID, JAKARTA – Utusan Khusus Presi...     0
23  REPUBLIKA.CO.ID, JAKARTA – Musyawarah Nasional...     0
24  REPUBLIKA.CO.ID, JAKARTA -- Utusan Khusus Pres...     0
25  REPUBLIKA.CO.ID, MOSUL -- Badan kebudayaan PBB...     0
26  REPUBLIKA.CO.ID, JAKARTA -- Dunia Islam berkon...     0
27  REPUBLIKA.CO.ID, PALU— Institut Agama Islam Ne...     0
28  REPUBLIKA.CO.ID, BANDUNG- Aksi Cepat Tanggap (...     0
29  REPUBLIKA.CO.ID, PALU -- Sederetan bencana di ...     0
30  – Seorang warga Pati, Jawa Tengah menjalani ri...     0
31  - Nama Tan Ie Hok alias Afuk mendadak menjadi ...     0
32  - Keris milik Presiden Joko Widodo (Jokowi) ya...     0
33  - MNC Peduli melalui Yayasan Jalinan Kasih mel...     0
34   Ini kisah dari ,. Andini, perempuan muda beru...     0
35  REPUBLIKA.CO.ID, TEMANGGUNG -- Budaya membaca ...     0
36  REPUBLIKA.CO.ID, KUNINGAN --- Jika anda melint...     0
37  REPUBLIKA.CO.ID, BANYUWNAGI -- Sendratari Mera...     0
38  REPUBLIKA.CO.ID, GIANYAR -- Bupati Gianyar Mad...     0
39  REPUBLIKA.CO.ID, BENGKULU --  Setelah persiapa...     0
40  Probolinggo - Para santri di Kabupaten Proboli...     0
41  Banyuwangi - Kabupaten Banyuwangi kembali mene...     0
42  Banyuwangi - 50 penari Gandrung Banyuwangi ber...     0
43  Surabaya - Ribuan masyarakat dari berbagai kab...     0
44  Tulungagung - Pemkab Tulungagung menggelar tra...     0
45  Surabaya - Gubernur Khofifah Indar Parawansa m...     0
46  Jombang - Para arkeolog juga menemukan benda-b...     0
47  Jombang - Selama 10 hari ekskavasi, tim arkeol...     0
48  Banyuwangi - Memperingati Tahun Baru Islam 144...     0
49  IHRAM.CO.ID, TASIKMALAYA -- Pemerintah Kota (P...     0
50  - Keanekaragaman budaya Indonesia mewarnai Kan...     0
51  – Bunda Literasi Provinsi Jawa Barat Atalia Pr...     0
52  REPUBLIKA.CO.ID, MALANG, JAWA TIMUR -- Puluhan...     0
53  REPUBLIKA.CO.ID, JAKARTA - Suku Dinas (Sudin) ...     0
54  Dinas Kepemudaan Olahraga Kebudayaan dan Pariw...     0
55  REPUBLIKA.CO.ID, SUKABUMI -- Acara adat seren ...     0
56  --Warga Desa Hegarmukti, Kecamatan Cikarang Pu...     0
57   Ada tradisi yang menarik di Dukuh Tambak, Des...     0
58  REPUBLIKA.CO.ID, SLEMAN -- Dinas Kebudayaan Ka...     0
59  REPUBLIKA.CO.ID, JAKARTA -- Pemerintah Provins...     0

## All click dataset

In [2]:
path = r'D:\JupyterNotebook\Dataset\click' # use your path
all_files = glob.glob(path + "/*.csv")

li = []

for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    li.append(df)

frame = pd.concat(li, axis=0, ignore_index=True)

In [3]:
frame['category'].unique()

array(['detikNews', 'category', 'Parenting', 'Lifestyle',
       'News & Entertainment', 'Beauty', 'SELEBRITI', 'KOREA',
       'FILM INTERNASIONAL', 'FILM INDONESIA', 'SINETRON', 'HOLLYWOOD',
       'TELEVISI', 'News', 'Bola', 'Entertainment', 'Money', 'Tekno',
       'Otomotif', 'Sains', 'Properti', 'Travel', 'Bisnis', 'ShowBiz',
       'Citizen6', 'Global', 'Regional', 'Health', 'Haji', 'Celebrity',
       'Sports', 'Economy', 'Muslim', 'Techno', 'Berita Viral',
       'nasional', 'Teknologi', 'Berita Utama', 'Berita Sumut',
       'Medan Bung', 'Kriminal', 'Pendidikan', 'Internasional',
       'Kesehatan', 'Dahlan Iskan', 'Medan Update', 'Ekonomi', 'hiburan',
       'pariwisata', 'Kisah Nyata', 'Acit Nai', 'Ragam', 'Humor Medan',
       'Ihram', 'Sepak Bola', 'Telko Highlight', 'Khazanah', 'Beacukai',
       'Leisure', 'Oto Tek', 'Inpicture', 'Video', 'Retizen', 'Kolom',
       'English', 'Infografis', 'Mpr Ri', 'Konsultasi', 'Sastra',
       'Daerah', 'Nasional', 'Metro', 'Autotekno', 'International',
       'Ekbis', nan, 'bisnis', 'sport', 'metro', 'cantik', 'dunia',
       'bola', 'travel', 'gaya', 'tekno', 'seleb', 'otomotif', 'event',
       'difabel', 'creativelab', 'fokus', 'newsletter', 'Super Skor',
       'Seleb', 'Pertamina', 'Sport', 'Metropolitan', 'Tribunners',
       'DPD RI', 'DPR RI', 'Australia Plus', 'Kilas Kementerian',
       'Bea Cukai', 'Kalbe Health Corner', 'Selebriti', 'Film', 'TV',
       'SerbaSerbi', 'Musik', 'Dunia', 'Kuliner'], dtype=object)

In [5]:
frame.head()

,title,source,date,time,category,sub-category,content,url
0,"Masuk Radar Pilwalkot Medan, Menantu Jokowi Be...",detik.com,10 September 2019,23:40,detikNews,Berita,"Medan - Menantu Jokowi, Bobby Afif Nasution, m...",https://news.detik.com/berita/d-4701171/masuk-...
1,Malaysia Sudutkan RI: Isu Kabut Asap hingga In...,detik.com,10 September 2019,21:32,detikNews,Berita,Jakarta - Malaysia kembali menyerang pemerinta...,https://news.detik.com/berita/d-4701078/malays...
2,Viral! Driver Ojol di Bekasi Antar Pesanan Mak...,detik.com,10 September 2019,21:20,detikNews,Berita,Bekasi - Seorang driver ojek online di Bekasi ...,https://news.detik.com/berita/d-4701077/viral-...
3,"Kemensos Salurkan Rp 7,3 M bagi Korban Kerusuh...",detik.com,10 September 2019,21:39,detikNews,Berita,Jakarta - Kementerian Sosial (Kemensos) menyal...,https://news.detik.com/berita/d-4701086/kemens...
4,"Terkait Mayat Bayi Mengenaskan di Tangerang, S...",detik.com,10 September 2019,21:02,detikNews,Berita,Tangerang - Polisi menangkap pria berinisial J...,https://news.detik.com/berita/d-4701054/terkai...

In [87]:
new_df = pd.DataFrame(data = frame[frame['category'] == 'Travel'].values
                   ,columns = ['title','source','date','time','category','sub-category','content','url'])
new_df = new_df[['content', 'category']]
new_df.rename(columns={'content':'text','category':'label'}, inplace=True)
new_df["label"].replace({"Travel": "11"}, inplace=True)
new_df.shape

(149, 2)

In [88]:
new_df.head()

                                                text label
0    , berhasil mempertahankan keanggotaannya di ...    11
1   - Ada yang menarik di Jak Japan Matsuri 2019 ...    11
2   -  , Seni Rupa dan Keramik di Pagelaran Nilai...    11
3   -  , merupakan ibukota yang memiliki banyak n...    11
4   - Akhir pekan lalu,  ,digelar di Plaza Tengga...    11

In [84]:
# Simpan data ke csv
new_df.to_csv (r'D:\JupyterNotebook\Dataset\clickNewArrange\travel149.csv', index = False, header=True)