In [1]:
import pandas as pd
import numpy as np
import os
import re

In [2]:
df = pd.DataFrame(columns=['text','label'])
folder = ['Budaya','Ekonomi','Entertaiment','Hukum','Kesehatan','Lifestyle',
          'Otomotif','Pendidikan','Politik','Sport','Tekno','Wisata']

In [3]:
# Fungsi membaca file dari folder
def savetodf(all_files,folder,label):
  dfn = pd.DataFrame(columns=['text','label'])
  for i in range(len(all_files)):
    path_txt_file = 'Dataset/'+folder+'/'+all_files[i]
    text = pd.read_fwf(path_txt_file, sep='\n', header=None)[0].str.cat()
    dfn.loc[i] = [text,label]
  return dfn

In [4]:
# Membaca semua data dari semua folder
for i in range(len(folder)):
  all_files = os.listdir("Dataset/"+folder[i]+"/")
  label = int(i)
  dfX = savetodf(all_files,folder[i],label)
  frames = [df, dfX] 
  df = pd.concat(frames).drop_duplicates().reset_index(drop=True)

In [5]:
df

                                                  text label
0    Menpora Dukung Pianis Cilik asal Kendal yang I...     0
1    10 Festival Unik dari Berbagai Belahan DuniaBe...     0
2    Merawat Pusaka TionghoaLie kim in. Tjia Gwan S...     0
3    Ziarah Riwayat Foramadiahi dan Kastela“Semanga...     0
4    Budaya Indonesia Pudar karena Ulah Kita Sendir...     0
..                                                 ...   ...
361  Wisata AsiaFakta Unik Tentang Gunung Fuji Jepa...    11
362  Pantai Mengiat Surga Tersembunyi di Nusa DuaBi...    11
363  Telkom Bangun Sarana MCK dan Air Bersih di 10 ...    11
364  Lokasi Wisata Pantai yang Cocok untuk Libur Ak...    11
365  5 Destinasi Wisata yang Mengerikan: Berenang B...    11

[366 rows x 2 columns]

# Preproccesing

## Data Cleansing

In [6]:
def delNumber(text):
    noNum = re.sub(r"\d+", "", text)
    return noNum

In [7]:
def delSymbol(text):
    symbols = "!\"“”#$%&’'()*+-,./:;<=>?@[\]^_`{|}~\n"
    for i in symbols:
        text = np.char.replace(text, i, ' ')
    return text

In [8]:
def delWhiteSpace(text):
    text = np.core.defchararray.strip(text, chars=None)
    return text

In [9]:
df['text']=df.apply(lambda x: delNumber(x[0]), axis=1)
df['text']=df.apply(lambda x: delSymbol(x[0]), axis=1)
df['text']=df.apply(lambda x: delWhiteSpace(x[0]), axis=1)

In [10]:
df

                                                  text label
0    Menpora Dukung Pianis Cilik asal Kendal yang I...     0
1    Festival Unik dari Berbagai Belahan DuniaBerba...     0
2    Merawat Pusaka TionghoaLie kim in  Tjia Gwan S...     0
3    Ziarah Riwayat Foramadiahi dan Kastela Semanga...     0
4    Budaya Indonesia Pudar karena Ulah Kita Sendir...     0
..                                                 ...   ...
361  Wisata AsiaFakta Unik Tentang Gunung Fuji Jepa...    11
362  Pantai Mengiat Surga Tersembunyi di Nusa DuaBi...    11
363  Telkom Bangun Sarana MCK dan Air Bersih di  Ar...    11
364  Lokasi Wisata Pantai yang Cocok untuk Libur Ak...    11
365  Destinasi Wisata yang Mengerikan  Berenang Ber...    11

[366 rows x 2 columns]