In [1]:
import pandas as pd
import numpy as np
import re
import nltk
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from Sastrawi.Stemmer.StemmerFactory import StemmerFactory

In [ ]:
# Baca raw_data
df = pd.read_csv('DataProcess/raw_data.csv') 
df.head()

# Preproccesing

In [ ]:
def delNumber(text):
    noNum = re.sub(r"\d+", "", text)
    return noNum

In [ ]:
def delSymbol(text):
    symbols = "!\"“”#$%&’'()*+-,./:;<=>?@[\]^_`{|}~\n"
    for i in symbols:
        text = np.char.replace(text, i, ' ')
    return text

In [ ]:
def delWhiteSpace(text):
    text = re.sub('\s+',' ',str(text))
    return text

In [ ]:
def caseFolding(text):
    text = np.char.lower(text)
    return text

In [ ]:
def tokenize(text):
    text = nltk.tokenize.word_tokenize(str(text))
    return text

In [ ]:
def stopwordRemove(text, list_stopwords):
    text = [word for word in text if not word in list_stopwords]
    return text

In [ ]:
# Data Cleansing
df['text']=df.apply(lambda x: delNumber(x[0]), axis=1)
df['text']=df.apply(lambda x: delSymbol(x[0]), axis=1)
df['text']=df.apply(lambda x: delWhiteSpace(x[0]), axis=1)
df.to_pickle('D:\JupyterNotebook\DataProcess\cleansing_df.pkl')
print("Data Cleansing done, save in cleansing_df.pkl")

# Case Folding
df['text']=df.apply(lambda x: caseFolding(x[0]), axis=1)
df.to_pickle('D:\JupyterNotebook\DataProcess\casefolding_df.pkl')
print("Case Folding done, save in casefolding_df.pkl")

# Tokenization
df['text']=df.apply(lambda x: tokenize(x[0]), axis=1)
df.to_pickle(r'D:\JupyterNotebook\DataProcess\tokenization_df.pkl')
print("Tokenization done, save in tokenization_df.pkl")

# Stopwords Removal
list_stopwords = set(stopwords.words('indonesian')) # Set dictionary from library
df['text']=df.apply(lambda x: stopwordRemove(x[0],list_stopwords), axis=1)
df.to_pickle('D:\JupyterNotebook\DataProcess\stopwords_df.pkl')
print("Stopwords Removal done, save in stopwords_df.pkl")

In [ ]:
def stemmingSastrawi(text):
    newtext = []
    for kata in text:
        newtext.append(stemmer.stem(kata))
    return newtext

In [ ]:
# Steeming
factory = StemmerFactory()
stemmer = factory.create_stemmer()

In [2]:
dfX = pd.read_pickle(r'D:\JupyterNotebook\DataProcess\stemming_365.pkl')
dfX.head()

                                                text  label
0  [menpora, dukung, pianis, cilik, kendal, pecah...      0
1  [festival, unik, bahan, duniaberbagai, negara,...      0
2  [rawat, pusaka, tionghoalie, kim, in, tjia, gw...      0
3  [ziarah, riwayat, foramadiahi, kastela, semang...      0
4  [budaya, indonesia, pudar, ulah, sendiribudaya...      0

In [ ]:
# 0-9 ll1 = 9
# 10-19 ll2 = 19
# 20-29 ll3 = 29
# 30-39 ll4 = 39
# 40-49 ll5 =49
# 50-59 ll6 = 59
# 60-69 ll7 = 69
# 70-79 ll8 = 79
# 80-89 ll9 = 89
# 90-99 ll10 = 99
# 100-119 ll11 = 119
# 120-139 ll12 = 139
# 140-159 ll13 = 159
# 160-179 ll14 = 179
# 180-199 ll15 = 199
# 200-219 ll16 = 219
# 220-239 ll17 = 239
# 240-259 ll18 = 259
# 260-279 ll19 = 279
# 280-299 ll20 = 299
# 300-319 ll21 = 319
# 320-339 ll22 = 339
# 340-365 ll23 = 365

In [ ]:
df3 = dfX

In [ ]:
%%time
# DONE
counter = ll22
while(counter <= ll23):
    newData = []
    for data in dfX['text'].loc[counter]:
        newData.append(stemmer.stem(data))
    df3['text'].loc[counter] = newData
    counter += 1

In [ ]:
df3.to_pickle('D:\JupyterNotebook\DataProcess\stemming_365.pkl')
print("Stemming done, save in stemming_365.pkl")

In [3]:
dfX['label'].value_counts()

7     34
6     31
5     31
2     31
11    30
10    30
9     30
8     30
3     30
1     30
0     30
4     29
Name: label, dtype: int64

In [286]:
dict_by_label = dict(iter(dfX.groupby('label')))

In [287]:
for i in range(len(dict_by_label)):
    dict_by_label[i].reset_index(drop=True,inplace=True)

In [288]:
print(len(dict_by_label))

12

In [289]:
dict_by_label[0].head()

                                                text  label
0  [menpora, dukung, pianis, cilik, kendal, pecah...      0
1  [festival, unik, bahan, duniaberbagai, negara,...      0
2  [rawat, pusaka, tionghoalie, kim, in, tjia, gw...      0
3  [ziarah, riwayat, foramadiahi, kastela, semang...      0
4  [budaya, indonesia, pudar, ulah, sendiribudaya...      0

In [296]:
%%time
final_df = pd.DataFrame(columns=['text','label'])
counter = 0
while (counter<=28):
    temp_final = pd.DataFrame(columns=['text','label'])
    for i in range(len(dict_by_label)):
        temp_text = dict_by_label[i].text[counter]
        temp_label = dict_by_label[i].label[counter]
        data_temp = pd.DataFrame({'text':[temp_text],'label':temp_label}, columns=['text','label'])
        temp_final = pd.concat([temp_final, data_temp], axis=0)
    final_df = pd.concat([final_df, temp_final], axis=0)
    counter += 1
final_df.reset_index(drop=True, inplace=True)
# final_df

Wall time: 895 ms

In [297]:
final_df
# Berarti kurang sisanya, karena counter cuman sampe 28

                                                  text label
0    [menpora, dukung, pianis, cilik, kendal, pecah...     0
1    [survei, bi, inflasi, februari, persenbank, in...     1
2    [vicky, shu, sih, gak, nikah, cepatvicky, shu,...     2
3    [kritis, laku, bom, panci, bandung, tewaskabid...     3
4    [mudah, atas, bau, badanbagi, orang, bau, tubu...     4
..                                                 ...   ...
343  [emakku, kartini, cerita, juang, perempuan, pe...     7
344  [sby, klarifikasi, kuasa, antasarirumah, gera,...     8
345  [djohar, manik, tajir, juara, pacu, kuda, jate...     9
346  [bukti, bahaya, pltn, robot, bersih, rusakpada...    10
347  [lokasi, wisata, pantai, cocok, libur, tahunak...    11

[348 rows x 2 columns]

In [51]:
# Mengubah dictionary per-label menjadi dataframe
var_counter = 0

for usr in range(len(dict_by_label)):
    tempVar = "df_"+str(var_counter)
    globals()[tempVar] = pd.DataFrame.from_dict(dict_by_label[usr])
    globals()[tempVar].reset_index(drop=True,inplace=True)
    var_counter +=1

In [71]:
# for i in range(0,len(dict_by_label)):
#     tempdf = eval("df_"+str(i))
#     print(i,":",tempdf.loc[0])
#     ex0 = df_0.head(1)
#     ex1 = df_1.head(1)
#     vertical_stack = pd.concat([ex0, ex1], axis=0)