In [1]:
import pandas as pd
import numpy as np
import re
import nltk
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from Sastrawi.Stemmer.StemmerFactory import StemmerFactory

In [2]:
# Baca raw_data
df = pd.read_csv('DataProcess/raw_data.csv') 
df.head()

                                                text  label
0  Menpora Dukung Pianis Cilik asal Kendal yang I...      0
1  10 Festival Unik dari Berbagai Belahan DuniaBe...      0
2  Merawat Pusaka TionghoaLie kim in. Tjia Gwan S...      0
3  Ziarah Riwayat Foramadiahi dan Kastela“Semanga...      0
4  Budaya Indonesia Pudar karena Ulah Kita Sendir...      0

# Preproccesing

In [4]:
def delNumber(text):
    noNum = re.sub(r"\d+", "", text)
    return noNum

In [5]:
def delSymbol(text):
#     symbols = "!\"“”#$%&’'()*+-,./:;<=>?@[\]^_`{|}~\n"
    symbols = "!”#$%&’()*+,-./:;<=>?@[\]^_`{|}~"
    for i in symbols:
        text = np.char.replace(text, i, ' ')
    return text

In [6]:
def delWhiteSpace(text):
    text = re.sub('\s+',' ',str(text))
    return text

In [7]:
def caseFolding(text):
    text = np.char.lower(text)
    return text

In [8]:
def tokenize(text):
    text = nltk.tokenize.word_tokenize(str(text))
    return text

In [9]:
def stopwordRemove(text, list_stopwords):
    text = [word for word in text if not word in list_stopwords]
    return text

In [10]:
# Data Cleansing
df['text']=df.apply(lambda x: delNumber(x[0]), axis=1)
df['text']=df.apply(lambda x: delSymbol(x[0]), axis=1)
df['text']=df.apply(lambda x: delWhiteSpace(x[0]), axis=1)
df.to_pickle('D:\JupyterNotebook\DataProcess\cleansing_df.pkl')
print("Data Cleansing done, save in cleansing_df.pkl")

# Case Folding
df['text']=df.apply(lambda x: caseFolding(x[0]), axis=1)
df.to_pickle('D:\JupyterNotebook\DataProcess\casefolding_df.pkl')
print("Case Folding done, save in casefolding_df.pkl")

# Tokenization
df['text']=df.apply(lambda x: tokenize(x[0]), axis=1)
df.to_pickle(r'D:\JupyterNotebook\DataProcess\tokenization_df.pkl')
print("Tokenization done, save in tokenization_df.pkl")

# Stopwords Removal
list_stopwords = set(stopwords.words('indonesian')) # Set dictionary from library
df['text']=df.apply(lambda x: stopwordRemove(x[0],list_stopwords), axis=1)
df.to_pickle('D:\JupyterNotebook\DataProcess\stopwords_df.pkl')
print("Stopwords Removal done, save in stopwords_df.pkl")

Data Cleansing done, save in cleansing_df.pkl
Case Folding done, save in casefolding_df.pkl
Tokenization done, save in tokenization_df.pkl
Stopwords Removal done, save in stopwords_df.pkl

In [2]:
def stemmingSastrawi(text):
    newtext = []
    for kata in text:
        newtext.append(stemmer.stem(kata))
    return newtext

In [3]:
# Steeming
factory = StemmerFactory()
stemmer = factory.create_stemmer()

In [17]:
df = pd.read_pickle(r'D:\JupyterNotebook\DataProcess\stopwords_df.pkl')
df.head()
dfNew = df

In [18]:
%%time
counter = 0
while(counter <= len(df)-1):
    dfNew['text'].loc[counter] = stemmingSastrawi(df['text'].loc[counter])
    print('done',counter)
    counter += 1

C:\Users\ASUS\Anaconda3\lib\site-packages\pandas\core\indexing.py:205: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

done 0
done 1
done 2
done 3
done 4
done 5
done 6
done 7
done 8
done 9
done 10
done 11
done 12
done 13
done 14
done 15
done 16
done 17
done 18
done 19
done 20
done 21
done 22
done 23
done 24
done 25
done 26
done 27
done 28
done 29
done 30
done 31
done 32
done 33
done 34
done 35
done 36
done 37
done 38
done 39
done 40
done 41
done 42
done 43
done 44
done 45
done 46
done 47
done 48
done 49
done 50
done 51
done 52
done 53
done 54
done 55
done 56
done 57
done 58
done 59
done 60
done 61
done 62
done 63
done 64
done 65
done 66
done 67
done 68
done 69
done 70
done 71
done 72
done 73
done 74
done 75
done 76
done 77
done 78
done 79
done 80
done 81
done 82
done 83
done 84
done 85
done 86
done 87
done 88
done 89
done 90
done 91
done 92
done 93
done 94
done 95
done 96
done 97
done 98
done 99
done 100
done 101
done 102
done 103
done 104
done 105
done 106
done 107
done 108
done 109
done 110
done 111
done 112
done 113
done 114
done 115
done 116
done 117
done 118
done 119
done 120
done 121
done 122
done 123
done 124
done 125
done 126
done 127
done 128
done 129
done 130
done 131
done 132
done 133
done 134
done 135
done 136
done 137
done 138
done 139
done 140
done 141
done 142
done 143
done 144
done 145
done 146
done 147
done 148
done 149
done 150
done 151
done 152
done 153
done 154
done 155
done 156
done 157
done 158
done 159
done 160
done 161
done 162
done 163
done 164
done 165
done 166
done 167
done 168
done 169
done 170
done 171
done 172
done 173
done 174
done 175
done 176
done 177
done 178
done 179
done 180
done 181
done 182
done 183
done 184
done 185
done 186
done 187
done 188
done 189
done 190
done 191
done 192
done 193
done 194
done 195
done 196
done 197
done 198
done 199
done 200
done 201
done 202
done 203
done 204
done 205
done 206
done 207
done 208
done 209
done 210
done 211
done 212
done 213
done 214
done 215
done 216
done 217
done 218
done 219
done 220
done 221
done 222
done 223
done 224
done 225
done 226
done 227
done 228
done 229
done 230
done 231
done 232
done 233
done 234
done 235
done 236
done 237
done 238
done 239
done 240
done 241
done 242
done 243
done 244
done 245
done 246
done 247
done 248
done 249
done 250
done 251
done 252
done 253
done 254
done 255
done 256
done 257
done 258
done 259
done 260
done 261
done 262
done 263
done 264
done 265
done 266
done 267
done 268
done 269
done 270
done 271
done 272
done 273
done 274
done 275
done 276
done 277
done 278
done 279
done 280
done 281
done 282
done 283
done 284
done 285
done 286
done 287
done 288
done 289
done 290
done 291
done 292
done 293
done 294
done 295
done 296
done 297
done 298
done 299
done 300
done 301
done 302
done 303
done 304
done 305
done 306
done 307
done 308
done 309
done 310
done 311
done 312
done 313
done 314
done 315
done 316
done 317
done 318
done 319
done 320
done 321
done 322
done 323
done 324
done 325
done 326
done 327
done 328
done 329
done 330
done 331
done 332
done 333
done 334
done 335
done 336
done 337
done 338
done 339
done 340
done 341
done 342
done 343
done 344
done 345
done 346
done 347
done 348
done 349
done 350
done 351
done 352
done 353
done 354
done 355
done 356
done 357
done 358
done 359
done 360
done 361
done 362
done 363
done 364
done 365
done 366
Wall time: 888 ms

In [20]:
dfNew.head()

                                                text  label
0  [menpora, dukung, pianis, cilik, kendal, pecah...      0
1  [festival, unik, bahan, duniaberbagai, negara,...      0
2  [rawat, pusaka, tionghoalie, kim, in, tjia, gw...      0
3  [ziarah, riwayat, foramadiahi, kastela, , sema...      0
4  [budaya, indonesia, pudar, ulah, sendiribudaya...      0

In [21]:
dfNew.to_pickle('D:\JupyterNotebook\DataProcess\stemming_full.pkl')
print("Stemming done, save in stemming_full.pkl")

Stemming done, save in stemming_full.pkl

In [2]:
dfX = pd.read_pickle(r'D:\JupyterNotebook\DataProcess\stemming_365.pkl')
dfX.head()

                                                text  label
0  [menpora, dukung, pianis, cilik, kendal, pecah...      0
1  [festival, unik, bahan, duniaberbagai, negara,...      0
2  [rawat, pusaka, tionghoalie, kim, in, tjia, gw...      0
3  [ziarah, riwayat, foramadiahi, kastela, semang...      0
4  [budaya, indonesia, pudar, ulah, sendiribudaya...      0

In [ ]:
# 0-9 ll1 = 9
# 10-19 ll2 = 19
# 20-29 ll3 = 29
# 30-39 ll4 = 39
# 40-49 ll5 =49
# 50-59 ll6 = 59
# 60-69 ll7 = 69
# 70-79 ll8 = 79
# 80-89 ll9 = 89
# 90-99 ll10 = 99
# 100-119 ll11 = 119
# 120-139 ll12 = 139
# 140-159 ll13 = 159
# 160-179 ll14 = 179
# 180-199 ll15 = 199
# 200-219 ll16 = 219
# 220-239 ll17 = 239
# 240-259 ll18 = 259
# 260-279 ll19 = 279
# 280-299 ll20 = 299
# 300-319 ll21 = 319
# 320-339 ll22 = 339
# 340-365 ll23 = 365

In [22]:
df3 = dfX
# dfX = dfNew

In [ ]:
%%time
# DONE
counter = ll22
while(counter <= ll23):
    newData = []
    for data in dfX['text'].loc[counter]:
        newData.append(stemmer.stem(data))
    df3['text'].loc[counter] = newData
    counter += 1

In [ ]:
df3.to_pickle('D:\JupyterNotebook\DataProcess\stemming_365.pkl')
print("Stemming done, save in stemming_365.pkl")

In [23]:
dfX['label'].value_counts()

7     34
6     31
5     31
2     31
11    30
10    30
9     30
8     30
4     30
3     30
1     30
0     30
Name: label, dtype: int64

In [24]:
dict_by_label = dict(iter(dfX.groupby('label')))

In [25]:
for i in range(len(dict_by_label)):
    dict_by_label[i].reset_index(drop=True,inplace=True)

In [26]:
print(len(dict_by_label))

12

In [27]:
dict_by_label[0].head()

                                                text  label
0  [menpora, dukung, pianis, cilik, kendal, pecah...      0
1  [festival, unik, bahan, duniaberbagai, negara,...      0
2  [rawat, pusaka, tionghoalie, kim, in, tjia, gw...      0
3  [ziarah, riwayat, foramadiahi, kastela, , sema...      0
4  [budaya, indonesia, pudar, ulah, sendiribudaya...      0

In [28]:
%%time
# Algo re-arrange data sehingga tercampur dengan urutan label 0-1-2-3-4-5-6-7-8-9-10-11
final_df = pd.DataFrame(columns=['text','label'])
counter = 0
# Berarti kurang sisanya, karena counter cuman sampe 28
while (counter<=29):
    temp_final = pd.DataFrame(columns=['text','label'])
    for i in range(len(dict_by_label)):
        temp_text = dict_by_label[i].text[counter]
        temp_label = dict_by_label[i].label[counter]
        data_temp = pd.DataFrame({'text':[temp_text],'label':temp_label}, columns=['text','label'])
        temp_final = pd.concat([temp_final, data_temp], axis=0)
    final_df = pd.concat([final_df, temp_final], axis=0)
    counter += 1
final_df.reset_index(drop=True, inplace=True)
# final_df

Wall time: 886 ms

In [31]:
final_df

                                                  text label
0    [menpora, dukung, pianis, cilik, kendal, pecah...     0
1    [survei, bi, inflasi, februari, persenbank, in...     1
2    [vicky, shu, sih, gak, nikah, cepatvicky, shu,...     2
3    [kritis, laku, bom, panci, bandung, tewaskabid...     3
4    [mudah, atas, bau, badanbagi, orang, bau, tubu...     4
..                                                 ...   ...
355  [buku, cerita, anak, bahasamendengarkan, donge...     7
356  [aktivis, lintas, generasi, pro, demokrasi, pi...     8
357  [kejut, tegalwaton, tamara, eclipse, rebut, ge...     9
358  [pabrik, iphone, ganti, kerja, manusia, robotf...    10
359  [destinasi, wisata, keri, renang, buaya, kolam...    11

[360 rows x 2 columns]

In [29]:
final_df.to_pickle('D:\JupyterNotebook\DataProcess\preprocess_result.pkl')
final_df.head(30)

                                                 text label
0   [menpora, dukung, pianis, cilik, kendal, pecah...     0
1   [survei, bi, inflasi, februari, persenbank, in...     1
2   [vicky, shu, sih, gak, nikah, cepatvicky, shu,...     2
3   [kritis, laku, bom, panci, bandung, tewaskabid...     3
4   [mudah, atas, bau, badanbagi, orang, bau, tubu...     4
5   [wujud, bibir, indah, dunia, ituobsesi, wanita...     5
6   [mesin, kendara, pas, pakai, oli, encerteknolo...     6
7   [duit, jajan, ajar, anak, kelola, keuanganbany...     7
8   [agama, negara, sisi, mata, uangakhir, hubung,...     8
9   [tinju, legendaris, indonesia, ellyas, pical, ...     9
10  [bocor, spesifikasi, nokia, nokia, gadang, gad...    10
11  [es, krim, lap, emas, kanazawa, jepanges, krim...    11
12  [festival, unik, bahan, duniaberbagai, negara,...     0
13  [judul, bi, bentuk, central, counterparty, tra...     1
14  [aura, kasih, glenn, sayanghubungan, aura, kas...     2
15  [wapres, polisi, selidik, duit, gnpf, mui, log...     3
16  [olahraga, keras, bikin, libido, turun, rutin,...     4
17  [wajah, halus, kate, middleton, pakai, selai, ...     5
18  [suzuki, gsxr, resmi, banderol, rp, jutaanakhi...     6
19  [stisip, widuri, gelar, even, tahun, widuri, b...     7
20  [puluh, ribu, dukung, tahana, gorontalo, penuh...     8
21  [valentino, rossi, hormat, tim, yamaha, maveri...     9
22  [go, jek, sunti, dana, raksasa, internet, tenc...    10
23  [seru, wisata, arus, air, sungai, murah, riah,...    11
24  [rawat, pusaka, tionghoalie, kim, in, tjia, gw...     0
25  [judul, wapres, pajak, freeport, dinegosiasika...     1
26  [sang, suami, hilang, bikin, penasaran, prisia...     2
27  [asus, emirsyah, satar, bekas, direktur, produ...     3
28  [aktif, instagram, bikin, payudara, mengecilpe...     4
29  [multilingual, sebab, anak, lambat, bicara, je...     5

In [51]:
# Mengubah dictionary per-label menjadi dataframe
var_counter = 0

for usr in range(len(dict_by_label)):
    tempVar = "df_"+str(var_counter)
    globals()[tempVar] = pd.DataFrame.from_dict(dict_by_label[usr])
    globals()[tempVar].reset_index(drop=True,inplace=True)
    var_counter +=1

In [71]:
# for i in range(0,len(dict_by_label)):
#     tempdf = eval("df_"+str(i))
#     print(i,":",tempdf.loc[0])
#     ex0 = df_0.head(1)
#     ex1 = df_1.head(1)
#     vertical_stack = pd.concat([ex0, ex1], axis=0)