In [3]:
import pandas as pd
import os
import re
import pickle
import glob

In [4]:
data_path = 'Dataset/NewData/'
files = glob.glob(data_path + '/*')
train = pickle.load(open(files[1], 'rb'))
test = pickle.load(open(files[0], 'rb'))
d_train = pd.DataFrame({'content': train[0], 'label': train[1]})
d_test = pd.DataFrame({'content': test[0], 'label': test[1]})
d_train.head()

                                             content   label
0  Liputan6.com, London - Lee Dixon khawatir Arse...    bola
1  Liputan6.com, Jakarta - Kasus dugaan penganiay...    news
2  Liputan6.com, Jakarta Menanggapi aksi eks peke...  bisnis
3  Liputan6.com, Medan - Sebanyak 81 kendaraan 4x...    bola
4  Liputan6.com, Jakarta Indonesia akan melawan T...    bola

In [5]:
bola = pd.DataFrame(data = d_train[d_train['label'] == 'bola'].values
                   ,columns = ['text','label'])
oto = pd.DataFrame(data = d_train[d_train['label'] == 'otomotif'].values
                   ,columns = ['text','label'])
tekno = pd.DataFrame(data = d_train[d_train['label'] == 'tekno'].values
                   ,columns = ['text','label'])

In [6]:
print(bola.shape,oto.shape,tekno.shape)

(2063, 2) (130, 2) (578, 2)

# CODE

In [ ]:
df = pd.DataFrame(columns=['text','label'])
folder = ['Budaya','Ekonomi','Entertaiment','Hukum','Kesehatan','Lifestyle',
          'Otomotif','Pendidikan','Politik','Sport','Tekno','Wisata']

In [ ]:
# Fungsi membaca file dari folder
def savetodf(all_files,folder,label):
  dfn = pd.DataFrame(columns=['text','label'])
  for i in range(len(all_files)):
    path_txt_file = 'Dataset/'+folder+'/'+all_files[i]
    text = pd.read_fwf(path_txt_file, sep='\n', header=None)[0].str.cat()
    dfn.loc[i] = [text,label]
  return dfn

In [ ]:
%%time
# Membaca semua data dari semua folder
for i in range(len(folder)):
  all_files = os.listdir("Dataset/"+folder[i]+"/")
  label = int(i)
  dfX = savetodf(all_files,folder[i],label)
  frames = [df, dfX] 
  df = pd.concat(frames).drop_duplicates().reset_index(drop=True)

In [ ]:
df.head()

In [ ]:
# Simpan data ke csv
df.to_csv (r'D:\JupyterNotebook\DataProcess\raw_data.csv', index = False, header=True)