In [1]:
import pandas as pd
import os
import re
import pickle
import glob

# Click-ID

In [7]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
df = pd.read_csv(r'D:\JupyterNotebook\Dataset\click\kompas.csv')
df.head()

,title,source,date,time,category,sub-category,content,url
0,"Diduga Pasok Sabu di Anambas, Adik Wali Kota T...",Kompas.com,10/09/2019,21:48 WIB,News,Regional,- Satresnarkoba Polres Anambas bersama Polres...,https://regional.kompas.com/read/2019/09/10/21...
1,Wanita dengan Tubuh Berisi Terbukti Bikin Pria...,Kompas.com,16/09/2019,22:58 WIB,Lifestyle,Feel Good,"- Berbagai usaha dilakukan, mulai dari olahra...",https://lifestyle.kompas.com/read/2019/09/16/2...
2,Kronologi Lengkap Pemuda di Bandung Tusuk Gadi...,Kompas.com,10/09/2019,23:09 WIB,News,Regional,"- RG (22), pemuda yang nekat menusuk Z (16), ...",https://regional.kompas.com/read/2019/09/10/23...
3,Pemain Thailand Beri Hormat ke Suporter Indone...,Kompas.com,10/09/2019,23:23 WIB,Bola,Liga Indonesia,- Para suporter Thailand sempat menyapa dan m...,https://bola.kompas.com/read/2019/09/10/232348...
4,"Link Live Streaming Inggris Vs Kosovo, Kickoff...",Kompas.com,10/09/2019,23:59 WIB,Bola,Internasional,"- , keenam Kualifikasi Piala Eropa 2020 mempe...",https://bola.kompas.com/read/2019/09/10/235900...

In [8]:
df = df[['content','category']]
df.columns = ['text', 'label']
df['label'] = encoder.fit_transform(df['label'])
df.head()

                                                text  label
0   - Satresnarkoba Polres Anambas bersama Polres...      4
1   - Berbagai usaha dilakukan, mulai dari olahra...      2
2   - RG (22), pemuda yang nekat menusuk Z (16), ...      4
3   - Para suporter Thailand sempat menyapa dan m...      0
4   - , keenam Kualifikasi Piala Eropa 2020 mempe...      0

In [9]:
df['label'].unique()

array([4, 2, 0, 1, 3, 8, 5, 7, 6, 9], dtype=int64)

In [10]:
# Simpan data ke csv
df.to_csv (r'D:\JupyterNotebook\DataProcess\new_raw_data.csv', index = False, header=True)

## Json

In [10]:
df = pd.read_json (r'D:\JupyterNotebook\Dataset\json\export-json-2015-07-01.json')
df

,sumber,tanggal,kategori,judul,isi,link,jumlahkata
0,kompas.com,2015/07/01,Teknologi,"Ponsel Huawei Honor 4C Dibanderol Rp 2,2 Juta","JAKARTA, KOMPAS.com Ponsel Android Huawei Hon...",http://tekno.kompas.com/read/xml/2015/07/01/18...,315
1,kompas.com,2015/07/01,Teknologi,Asosiasi: RPP E-commerce Tidak Sesuai Hasil Di...,"JAKARTA, KOMPAS.com - Sejak 2013, wacana tenta...",http://tekno.kompas.com/read/xml/2015/07/01/16...,419
2,kompas.com,2015/07/01,Teknologi,"Pemesan ""iPhone Jadi Sabun"" Karyawan Pesaing L...","JAKARTA, KOMPAS.com Danis Darusman, pelanggan ...",http://tekno.kompas.com/read/xml/2015/07/01/15...,265
3,kompas.com,2015/07/01,Teknologi,"""Autofeather Failure"", Momok bagi Pesawat Bali...",KOMPAS.com Salah satu momok yang dihadapi dala...,http://tekno.kompas.com/read/xml/2015/07/01/14...,481
4,kompas.com,2015/07/01,Teknologi,Laptop Bezel Tertipis di Dunia Masuk Indonesia,"JAKARTA, KOMPAS.com - Resmi diperkenalkan pada...",http://tekno.kompas.com/read/xml/2015/07/01/14...,227
...,...,...,...,...,...,...,...
1086,tribunnews.com,2015/07/01,Travel,Kuliner Medan Sedap Harga Murah Meriah: Bubur ...,"TRIBUNNEWS.COM - Selain Bika Ambon, tiga kulin...",http://www.tribunnews.com/travel/2015/07/01/ku...,101
1087,tribunnews.com,2015/07/01,Travel,Seribu Delegasi 60 Negara Akan Ikuti Pameran W...,TRIBUNNEWS.COM - Asosiasi nirlaba internasiona...,http://www.tribunnews.com/travel/2015/07/01/se...,197
1088,tribunnews.com,2015/07/01,Travel,Bebek Goreng Gurihnya Mantap Saat Disantap Den...,"Laporan wartawan Tribun Medan, Silfa Humairah ...",http://www.tribunnews.com/travel/2015/07/01/be...,125
1089,tribunnews.com,2015/07/01,Travel,Kisah Haru Penjual Siomay Pink setelah Berulan...,"Laporan Wartawan Tribunnews, Reynas Abdila TRI...",http://www.tribunnews.com/travel/2015/07/01/ki...,95
1090,tribunnews.com,2015/07/01,Travel,"Nanang Tolak Tawaran Rp 2,5 Miliar untuk Fosil...","Laporan Wartawan Pos Kupang, Muhlis Al Alawi T...",http://www.tribunnews.com/travel/2015/07/01/na...,148

In [24]:
Travel = pd.DataFrame(data = df[df['kategori'] == 'Travel'].values
                   ,columns = ['sumber','tanggal','kategori','judul','isi','link','jumlahkata'])
Travel = Travel[['isi', 'kategori']]
Travel.head()
# df['kategori'].unique()

                                                 isi kategori
0  KOMPAS.com - Barangkali kita tidak mengira bah...   Travel
1  JAKARTA, KOMPAS.com - Dalam rangka pengembanga...   Travel
2  MAKASSAR, KOMPAS.com - Es Pisang Ijo merupakan...   Travel
3  KOMPAS.com - Setelah beberapa bulan dalam masa...   Travel
4  BANDUNG, KOMPAS.com - Jangan heran bila meliha...   Travel

In [21]:
nasional['isi'].loc[0]

'JAKARTA, KOMPAS.com - Dua hari menjelang ditutupnya pendaftaran, panitia seleksi calon pimpinan Komisi Pemberantasan Korupsi (KPK) telah menerima 523 orang pendaftar. Namun, tidak sampai setengah dari pendaftar itu sudah melengkapi dokumen persyaratan. "Sampai sore ini yang mendaftar jadi capim KPK adalah 523 orang, 43 di antaranya perempuan. Yang dokumennya lengkap ada 247, hampir lengkap 62 orang," kata Juru Bicara Pansel KPK Betti S Alisjahbana dalam pesan singkat, Rabu (1/7/2015). Betti memaparkan profesi terbanyak yang mendaftar calon pimpinan KPK adalah pegawai negeri sipil (PNS) berjumlah 84 orang. Lainnya yaitu dosen (76 orang), advokat (79 orang), pegawai swasta (62 orang), pensiunan (46 orang), wiraswasta (31 orang), wartawan (4 orang). Sementara mereka yang berlatar belakang penegak hukum juga turut mendaftar untuk menjadi pimpinan KPK 2015-2020 yakni Polri 20 orang di mana 7 orang di antaranya purnawirawan, TNI 4 orang (2 purnawirawan), Jaksa 3 orang, Hakim 3 orang, KPK 3 orang. Pansel akan menutup pendaftaran pada 3 Juli pukul 12.00. Pengumuman nama-nama yang lolos seleksi administrasi akan dilaksanakan pada tanggal 4 Juli melalui press conference dan di situs www.setneg.go.id.  Tanggapan masyarakat terhadap nama-nama yang lolos seleksi administrasi dibuka selama satu bulan dari tanggal 4 Juli hingga 3 Agustus 2015. Pansel akan menyediakan halaman khusus di situs www.setneg.go.id untuk memberikan tanggapan.'

## NewData

In [2]:
data_path = 'Dataset/NewData/'
files = glob.glob(data_path + '/*')
train = pickle.load(open(files[1], 'rb'))
test = pickle.load(open(files[0], 'rb'))
d_train = pd.DataFrame({'content': train[0], 'label': train[1]})
d_test = pd.DataFrame({'content': test[0], 'label': test[1]})
d_train.head()

                                             content   label
0  Liputan6.com, London - Lee Dixon khawatir Arse...    bola
1  Liputan6.com, Jakarta - Kasus dugaan penganiay...    news
2  Liputan6.com, Jakarta Menanggapi aksi eks peke...  bisnis
3  Liputan6.com, Medan - Sebanyak 81 kendaraan 4x...    bola
4  Liputan6.com, Jakarta Indonesia akan melawan T...    bola

In [3]:
bola = pd.DataFrame(data = d_train[d_train['label'] == 'bola'].values
                   ,columns = ['text','label'])
oto = pd.DataFrame(data = d_train[d_train['label'] == 'otomotif'].values
                   ,columns = ['text','label'])
tekno = pd.DataFrame(data = d_train[d_train['label'] == 'tekno'].values
                   ,columns = ['text','label'])
bola.head()

                                                text label
0  Liputan6.com, London - Lee Dixon khawatir Arse...  bola
1  Liputan6.com, Medan - Sebanyak 81 kendaraan 4x...  bola
2  Liputan6.com, Jakarta Indonesia akan melawan T...  bola
3  Liputan6.com, Jakarta Persela Lamongan sudah m...  bola
4  Gattuso mengatakan bahwa Piatek dan Cutrone bi...  bola

In [6]:
print(bola.shape,oto.shape,tekno.shape)

(2063, 2) (130, 2) (578, 2)

# CODE

In [2]:
df = pd.DataFrame(columns=['text','label'])
folder = ['Budaya','Ekonomi','Entertaiment','Hukum','Kesehatan','Lifestyle',
          'Otomotif','Pendidikan','Politik','Sport','Tekno','Wisata']

In [3]:
# Fungsi membaca file dari folder
def savetodf(all_files,folder,label):
  dfn = pd.DataFrame(columns=['text','label'])
  for i in range(len(all_files)):
    path_txt_file = 'Dataset/'+folder+'/'+all_files[i]
    text = pd.read_fwf(path_txt_file, sep='\n', header=None)[0].str.cat()
    dfn.loc[i] = [text,label]
  return dfn

In [4]:
%%time
# Membaca semua data dari semua folder
for i in range(len(folder)):
  all_files = os.listdir("Dataset/"+folder[i]+"/")
  label = int(i)
  dfX = savetodf(all_files,folder[i],label)
  frames = [df, dfX] 
  df = pd.concat(frames).drop_duplicates().reset_index(drop=True)

Wall time: 10.5 s

In [8]:
df.head()

                                                text label
0  Menpora Dukung Pianis Cilik asal Kendal yang I...     0
1  10 Festival Unik dari Berbagai Belahan DuniaBe...     0
2  Merawat Pusaka TionghoaLie kim in. Tjia Gwan S...     0
3  Ziarah Riwayat Foramadiahi dan Kastela“Semanga...     0
4  Budaya Indonesia Pudar karena Ulah Kita Sendir...     0

In [ ]:
# Simpan data ke csv
df.to_csv (r'D:\JupyterNotebook\DataProcess\raw_data.csv', index = False, header=True)